
@{
    ViewBag.Title = "_Footer";
}

<div class="footer">
    <h3 class="footer__cinema-name">N95</h3>
    <div class="introduction">
        <h4 class="introduction__title">Giới thiệu</h4>
        <ul class="introduction__list">
            <li class="introduction__list-item">
                <a href="#">Về chúng tôi</a>
            </li>
            <li class="introduction__list-item">
                <a href="#">Thoản thuận sử dụng</a>
            </li>
            <li class="introduction__list-item">
                <a href="#">Quy chế hoạt động</a>
            </li>
            <li class="introduction__list-item">
                <a href="#">Chính sách bảo mật</a>
            </li>
        </ul>
    </div>

    <div class="support">
        <h4 class="support__title">Hỗ trợ</h4>
        <ul class="support__list">
            <li class="support__list-item"><a href="#">Góp ý</a></li>
            <li class="support__list-item"><a href="#">Sale & services</a></li>
            <li class="support__list-item"><a href="#">Rạp / Giá vé</a></li>
            <li class="support__list-item"><a href="#">Tuyển dụng</a></li>
        </ul>
    </div>

    <div class="download">
        <h4 class="download__title">Download app</h4>
        <a href="#" class="download__link">
            <img src="~/assets/images/downloads/google-play.png"
                 alt="Download với Googleplay" />
        </a>
        <a href="" class="download__link">
            <img src="~/assets/images/downloads/apple-store.png"
                 alt="Download với Appstore" />
        </a>
    </div>

    <ul class="social-media">
        <li class="social-media__item">
            <a href="#">
                <i class="ti-twitter-alt"></i><span class="social-media__item-text">Twitter</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="#">
                <i class="ti-facebook"></i><span class="social-media__item-text">Facebook</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="#">
                <i class="ti-youtube"></i><span class="social-media__item-text">Youtube</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="#">
                <i class="ti-instagram"></i><span class="social-media__item-text">Instagram</span>
            </a>
        </li>
    </ul>

    <div class="copy-right">
        <p>Copyright © 2023 N95 Reel Deals, L.L.C. All Rights Reserved</p>
    </div>
</div>